
<div class="row">
    <div class="col-md-4" id="picleft">
        <img src="../Images/11.1.png" />
    </div>
    <div class="col-md-4" style="background-color:black">
        <input type="button" class="slab" id="Headimg" style="width:100%" value="Face/Head/Neck" />
        <input type="button" class="slab" id="chestimg" style="width:100%"  value="Chest" />
        <input type="button" class="slab" id="Abdomenimg" style="width:100%" value="Abdomen" />
        <input type="button" class="slab" id="backimg" style="width:100%"  value="Back/Spine" />
        <input type="button" class="slab" id="scrotumimg" style="width:100%" value="Penis/Scrotum" />
        <input type="button" class="slab" id="bottomimg" style="width:100%" value="Buttocks/Bottom" />
        <input type="button" class="slab" id="armimg" style="width:100%" value="Arm/Upper Limb" />
        <input type="button" class="slab" id="legimg" style="width:100%" value="Leg/Lower Limb" />
    </div>
    <div class="cpl-md-4" id="picright"><img src="../Images/11.2.png" /></div>

</div>