@model PatientRegistrationSystem.Models.LoginModel

@{
    ViewBag.Title = "Index";
}



<div>

    @Html.Partial("_IndexPartial")




</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
